{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <form action="{{ path('create') }}" method="get" class="form-inline pull-right">
                <div class="form-group">
                    <label for="query-input">Query</label>
                    <input type="text" class="form-control" name="q" id="query-input"
                           value="{{ app.request.get('q') }}"/>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    {% include 'includes/documents.html.twig' with {documents: documents} only %}

    <form action="{{ path('create') }}" method="post">
        <div class="form-group">
            <label for="title-input">Title</label>
            <input type="text" class="form-control" name="title" id="title-input"/>
        </div>

        <div class="form-group">
            <label for="description-input">Description</label>
            <input type="text" class="form-control" name="description" id="description-input"/>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
